*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: 100vh;
  display: flex;
  /* width: 100vh; */
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}
.container  button{
  padding: 5px 20px;
}

.modal[open]{
  pointer-events: auto;
}
.modal[open]{
  animation:
            slide-up 500ms forwards,
            fade-in 500ms forwards;
}

.modal[open]::backdrop{
  animation: fade-in 500ms forwards;
}

.modal::backdrop{
  background: rgb(0 0 0 / .5);
}

.modal{
  padding: 10px;
  border-radius: 10px;
  border:2px solid rgba(0, 0, 0, 0.605);
  text-align: center;
  margin: auto;
  
}

.modal[closing]{
  display: block;
  inset: 0;
  pointer-events: none;
  animation: fade-out 500ms forwards;
  /* background-color: rebeccapurple; */
}
.modal[closing]::backdrop{
  animation: fade-out 500ms forwards;
}

@keyframes fade-in {
 0%{
  opacity: 0;
 } 
 100%{
  opacity: 1;
 }
}

@keyframes fade-out {
 100%{
  opacity: 0;
 } 
 0%{
  opacity: 1;
 }
}
@keyframes slide-up{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}


/* extara css */

/* .modal{
  
} */
.modal > *{
  margin-bottom: 10px;
}